@model IEnumerable<Homework8.Models.Artwork>

@{
    ViewBag.Title = "Artworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artworks</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>
